In [53]:
import pandas as pd

In [54]:
with open("ARS.txt") as f:
    data = f.read()

In [64]:
queries = len(list(set([i for i in data.split("\n") if i.startswith("ARS")])))

In [75]:
ori = pd.read_csv("rep_origins.csv")

In [76]:
ori

,ARS > Primary DBID,ARS > Systematic Name,ARS > Standard Name,ARS > Name,ARS > Chromosome Location > End,ARS > Chromosome Location > Start,ARS > Chromosome Location > Strand,ARS > Chromosome > Identifier
0,S000007553,ARS1021,NaN,NaN,684098,684009,0,chrX
1,S000007554,ARS1501,NaN,NaN,489942,489683,0,chrXV
2,S000007633,ARS601,ARS601,Autonomously Replicating Sequence,32995,32473,0,chrVI
3,S000007634,ARS602,ARS602,Autonomously Replicating Sequence,33247,32667,0,chrVI
4,S000007635,ARS603,ARS603,Autonomously Replicating Sequence,68861,68759,0,chrVI
...,...,...,...,...,...,...,...,...
347,S000178111,ARS907,NaN,NaN,73991,73820,0,chrIX
348,S000178132,ARS1210,NaN,NaN,222676,222220,0,chrXII
349,S000178135,ARS1212.5,NaN,NaN,344032,343577,0,chrXII
350,S000178146,ARS1235,NaN,NaN,1059923,1059439,0,chrXII
351,S000178152,ARS1307.5,NaN,NaN,159277,158887,0,chrXIII